{% extends 'base.html' %} {% block title %} | Account Locked{% endblock %} 
{% block content %}

<div class="container bg-grey shadow-md p-5 form-layout">
  <div class="row">
    <div class="col-md-12 text-center">
        <i class="fa fa-lock fa-4x text-dark" aria-hidden="true"></i>
      <h1>Account Locked</h1>
      <p>
        Your account has been locked. Please contact the administrator.
      </p>
      <p> You may re-attempt to login to your account after the expiry period.</p>

      <a href="{% url 'index' %}" type="button" class="btn btn-info"> &nbsp; Return to homepage</a>
    </div>
  </div>
</div>

{% endblock %}
